Fycn.Interface/bin/Debug/netstandard2.0/Fycn.Interface.deps.json
Fycn.Interface/bin/
Fycn.Interface/obj/
Fycn.Model/bin/
Fycn.Model/obj/
Fycn.PaymentLib/bin/
Fycn.PaymentLib/obj/
Fycn.Service/obj/
Fycn.SqlDataAccess/bin/
Fycn.SqlDataAccess/obj/
Fycn.Utility/obj/
FycnApi/Attachment/
FycnApi/bin/
FycnApi/commondll/
FycnApi/obj/
FycnApi/Properties/
Fycn.Utility/bin/
Fycn.Service/bin/
.vs/
Fycn.Sockets/bin/
Fycn.Sockets/obj/
Fycn.Sockets/Properties/
